<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>
<h2><%= @article.title %></h2>
<%= Kramdown::Document.new(@article.content).to_html.html_safe %>
<%= link_to 'Home', articles_path %>
